.hello {
    background-color: red;
}

.name {
    background-color: green;
}

.school {
    background-color: green;
}

#birth {
    background-color: green;
}

#city {
    background-color: red;
}